/* .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

html {
    background-color: #56baed;
}
  
body {
font-family: "Poppins", sans-serif;
height: 100vh;
}

a {
color: #92badd;
display:inline-block;
text-decoration: none;
font-weight: 400;
}

h2 {
text-align: center;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
display:inline-block;
margin: 40px 8px 10px 8px; 
color: #cccccc;
}
   */