<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Recorder App</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <br>
  {% block content %}
  {% endblock %}
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    const getCookieValue = (name) => (
      decodeURIComponent(document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || '')
    );
    $(function() {
      console.log(getCookieValue("record_name"))
      document.getElementById("recipe_name").setAttribute('value' ,getCookieValue("record_name").replaceAll("_", " "))
    });
  </script>
</body>
</html>