{% extends "base_generic.html" %}

{% block content %}
<p>
</p>
<div >
  <div class="container">  
    <div class="form-row align-items-center">
      {% csrf_token %}
      <div class="col-sm">
      </div>
      <div class="col-sm-10">
        <form id="contact_form">

          <div class="form-group invisible">
            <input type="text" class="form-control" name="uid" value="{{ uid }}">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">
              <h1>Recipe Name</h1>
            </label>
            <input type="text" class="form-control" id="recipe_name" name="record_name" value="Butter Chicken">
          </div>

          <div class="form-group">
            <label for="RecordingSelect">Type of Recording</label>
            <select class="form-control" id="RecordingSelect" name="record_type">
              <option selected="selected" value="IN">Induction</option>
              <option value="INB">Bulk Induction</option>
              <option value="BL">Blender</option>
              <option value="OF">Off-Pan</option>
            </select>
          </div>
          <div class="form-group" id="RecordingEquipmentSelect">
            <label for="RecordingEquipmentSelect">Equipment Type</label>
            <select class="form-control" id="FPSSelect" name="fps_equipment">
              <option value="FPS1">Food Processing Station 1</option>
              <option value="FPS2">Food Processing Station 2</option>
              <option value="FPS3">Food Processing Station 3</option>
              <option value="FPS4">Food Processing Station 4</option>
              <option value="FPS5">Food Processing Station 5</option>
            </select>
          </div>
          <div class="form-group invisible" id="BulkRecordingEquipmentSelect">
            <label for="BulkRecordingEquipmentSelect">Bulk Equipment Type</label>
            <select class="form-control" id="FPSSelectBulk" name="fps_equipment_bulk">
              <option value="FPS9">Food Processing Station 9</option>
            </select>
          </div>
          <div class="form-group invisible" id="RecordingBlenderEquipmentSelect">
            <label for="RecordingBlenderEquipmentSelect">Blender Type</label>
            <select class="form-control" id="BlenderSelect" name="blender_equipment">
              <option value="Blender1">Blender 1</option>
              <option value="Blender2">Blender 2</option>
              <option value="Blender3">Blender 3</option>
            </select>
          </div>
          <div class="form-group invisible" id="BlenderRecordingTypeSelect">
            <label for="BlenderRecordingTypeSelect">Recording Mode</label>
            <select class="form-control" id="BlenderTypeSelect" name="record_mode" >
              <option value="Manual">Manual</option>
              <option value="Controlled">Controlled</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-light" id="submit_btn" value="Next" />
          </div>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</div>
{% endblock %}