
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recorder App</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
  </head>
  <body>
    <div id="root">
      <script src="{% static 'js/recorder.js' %}"></script>
    </div>
    
  </body>
</html>