<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Recorder App</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <br>
  <div >    
    <div class="container">
      <div class="form-row">
        <div class="col-sm-4">
          <form id="contact_form">
            <div class="form-group">
              <label for="exampleFormControlInput1">
                <h1 id="0">Recipe Name</h1>
              </label>
              <!-- <input type="text" class="form-control disabled" id="0" placeholder="Butter Chicken" readonly> -->
            </div>
            {% block content %}
  
            {% endblock %}
            <br>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" id="Comment" placeholder="Comment :">
                </div>
              </div>
              <div class="col">
                <button type="button" id="comment_button" class="btn btn-primary btn-block">Comment</button>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" id="Add" placeholder="Add :">
                </div>
              </div>
              <div class="col">
                <button type="button" id="add_button" class="btn btn-primary btn-block">Add</button>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" id="Action" placeholder="Action :">
                </div>
              </div>
              <div class="col">
                <button type="button" id="action_button" class="btn btn-primary btn-block">Action</button>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" id="Accesories" placeholder="Accesories :">
                </div>
              </div>
              <div class="col">
                <button type="button" id="acc_button" class="btn btn-primary btn-block">Add Accesories</button>
              </div>
            </div>
            
            <button type="button" class="btn btn-primary btn-block" id="capture_btn">Capture Data</button>
            
            <button type="button" class="btn btn-primary btn-block" id="stir">Stir Start</button>
            <button type="button" class="btn btn-primary btn-block" id="tare">Tare</button>
        
            <button type="button" class="btn btn-danger btn-block" id="recording">Start Recording</button>
        
          </form>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col">
          <div class="form-row align-items-start">
            <div class="col" id="Level">
              Induction Level :
            </div>
            <div class="col" id="LCT">
              Last Captured Temp :
            </div>
            <div class="col" id="LCW">
              Last Captured Weight :
            </div>
            <div class="col" id="TLC">
              Timer :
            </div>
          </div>
  
          <div class="form-row align-items-start">
            <div class="col square" >
                <h2 >
                  <div id="IL_Text">0</div>
                </h2>
            </div>
            <div class="col square" >
                <h2>
                  <div id="LCT_Text">0</div>
                </h2>
            </div>
            <div class="col square" >
                <h2>
                  <div id="LCW_Text">0</div>
                </h2>
            </div>
            <div class="col square" >
              <h2 >
                <div id="TLC_Text">0</div>
              </h2>
            </div>
          </div>
          <hr>
          <br>
          <h2>
            Logs
          </h2>
          <div class="form-group">
            <textarea class="form-control" id="Logs" rows="30"></textarea>
          </div>
        
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="acc_modal" tabindex="-1" role="dialog" aria-labelledby="acc_modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          </div>
          <div class="modal-body">
            Bruh please
          </div>
        </div>
      </div>
    </div>


  </div>


  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom_main.js' %}"></script>
  <script>
    const getCookieValue = (name) => (
      document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    );
    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    };

    $(function() {
      document.getElementById("0").innerText = getCookieValue("record_name").replaceAll("_", " ") 
        + ' - ' + getCookieValue("equipment");
      if(getCookieValue("record_type")=="BL"){
        document.getElementById("Level").innerText = "Blender Level :";        
        document.getElementById("LCT_Text").classList.add('invisible');  
        document.getElementById("LCW_Text").classList.add('invisible');  
        document.getElementById("LCT").classList.add('invisible');  
        document.getElementById("LCW").classList.add('invisible');
      }
      else{
        document.getElementById("Level").innerText = "Induction Level :";
      }

      console.log(getCookieValue("equipment"))

      $('#capture_btn').prop('disabled', 'disabled');
      $('#comment_button').prop('disabled', 'disabled');
      $('#add_button').prop('disabled', 'disabled');
      $('#action_button').prop('disabled', 'disabled');
      $('#acc_button').prop('disabled', 'disabled');
      $('#induction_button').prop('disabled', 'disabled');
      $('#induction_button_bulk').prop('disabled', 'disabled');
      $('#blender_button').prop('disabled', 'disabled');
      $('#stir').prop('disabled', 'disabled');
      $('#tare').prop('disabled', 'disabled');
      $('#total_time').prop('disabled', 'disabled');
      $('#add_loop').prop('disabled', 'disabled');
      $('#start_loop').prop('disabled', 'disabled');

      $('#Induction').prop('disabled', 'disabled');
      $('#Blender').prop('disabled', 'disabled');
      $('#Comment').prop('disabled', 'disabled');
      $('#Add').prop('disabled', 'disabled');
      $('#Action').prop('disabled', 'disabled');
      $('#Accesories').prop('disabled', 'disabled');
      $('#Logs').prop('disabled', 'disabled');
      // $("#IL_Text").html(document.getElementById("Induction").value);

      // const timer = new Timer();
      // timer.start();
      if(getCookieValue("record_type")=="BL"){
        interval = setInterval(() => {
          // const timeInSeconds = Math.round(timer.getTime() / 1000);
          // document.getElementById('TLC_Text').innerText = timeInSeconds;
          $.ajax({
              type: "GET",
              url: "/main/get-state",
              async: false,
              success: function (response) {
                console.log("success")
                // console.log(response)
                console.log(document.getElementById("total_time").value )
                document.getElementById('IL_Text').innerText=response['blender_level']
              },
              error: function (response) {
                console.log("failure")
              },
            })
        }, 3000)
      }
      else{
          interval = setInterval(() => {
          // const timeInSeconds = Math.round(timer.getTime() / 1000);
          // document.getElementById('TLC_Text').innerText = timeInSeconds;
          $.ajax({
              type: "GET",
              url: "/main/get-state",
              async: false,
              success: function (response) {
                console.log("success")
                document.getElementById('LCW_Text').innerText=response['weight']
                document.getElementById('LCT_Text').innerText=response['temp']
                if(response['hardware_error']){
                  var d = new Date();
                  var curr_time = d.getTime();
                  timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)

                  document.getElementById("Logs").value += timestamp 
                  + ", Error Occured\n"
                }
              },
              error: function (response) {
                console.log("failure")
              },
            })
        }, 3000)

      //   interval = setInterval(() => {
      //     // const timeInSeconds = Math.round(timer.getTime() / 1000);
      //     // document.getElementById('TLC_Text').innerText = timeInSeconds;
      //     $.ajax({
      //         type: "GET",
      //         url: "/main/get-temp",
      //         async: false,
      //         success: function (response) {
      //           console.log("success")
      //           document.getElementById('LCT_Text').innerText=response['temp']
      //         },
      //         error: function (response) {
      //           console.log("failure")
      //         },
      //       })
      //   }, 3000)

      }
      
    //   interval = setInterval(() => {
    //     const timeInSeconds = Math.round(timer.getTime() / 1000);
    //     document.getElementById('TLC_Text').innerText = timeInSeconds;
    //     $.ajax({
    //         type: "GET",
    //         url: "/main/get-error",
    //         async: false,
    //         success: function (response) {
    //           console.log("success")

    //           if(response['error']){
    //             var d = new Date();
    //             var curr_time = d.getTime();
    //             timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)

    //             document.getElementById("Logs").value += timestamp 
    //             + ", Error Occured\n"
    //           }
    //           // document.getElementById('LCT_Text').innerText=response['temp']
    //         },
    //         error: function (response) {
    //           console.log("failure")
    //         },
    //       })
    //   }, 3000)
    });

  function send_mqtt(equipment, func, payload) {
    $.ajax({
        type: "GET",
        url: "/main/send-mqtt",
        data: {
          'equipment':equipment,
          'function': func,
          'payload': payload,
          async : false,
        },
        success: function (response) {
          console.log("success")
        },
        error: function (response) {
          console.log("failure")
        },
      })
    }

  var interval;
  var acc_set = false;
  var stop_recording_pressed = false;

  $( "#recording" ).click(function(e) {
    // Toggle

    var elem = document.getElementById("recording");

    console.log(elem.innerText)
    var d = new Date();
    var curr_time = d.getTime();


    // Toggle
    if (elem.innerText=="Start Recording" && !stop_recording_pressed){
        setCookie("start_time",curr_time,20)
        elem.innerText="Stop Recording";
        timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
        document.getElementById("Logs").value += timestamp 
        + ", Recording: Started\n"

        const timer = new Timer();
        timer.start();
        interval = setInterval(() => {
          const timeInSeconds = Math.round(timer.getTime() / 1000);
          document.getElementById('TLC_Text').innerText = timeInSeconds;
        }, 100)
        $('#capture_btn').prop('disabled', false);
        $('#comment_button').prop('disabled', false);
        $('#add_button').prop('disabled', false);
        $('#action_button').prop('disabled', false);
        $('#acc_button').prop('disabled', false);
        $('#induction_button').prop('disabled', false);
        $('#induction_button_bulk').prop('disabled', false);
        $('#blender_button').prop('disabled', false);
        $('#stir').prop('disabled', false);
        $('#tare').prop('disabled', false);
        $('#total_time').prop('disabled', false);
        $('#add_loop').prop('disabled', false);
        $('#start_loop').prop('disabled', false);

        $('#Induction').prop('disabled', false);
        $('#Blender').prop('disabled', false);
        $('#Add').prop('disabled', false);
        $('#Action').prop('disabled', false);
        $('#Comment').prop('disabled', false);
        $('#Accesories').prop('disabled', false);
        $('#Logs').prop('disabled', false);

        setCookie("time_started",curr_time,20)
        var payload = getCookieValue("record_name")+"_"+curr_time
        // Send mqtt message
        send_mqtt(getCookieValue("equipment"),"startRecording",payload)
    }
    else if(!acc_set && elem.innerText=="Stop Recording"){
      var result = confirm("Accessories have not been set");   
    }
    else if(acc_set && elem.innerText=="Stop Recording"){
      var equipment_result = true
      if(getCookieValue("record_type")=="BL"){
          // Send MQTT Message
          blender_level = document.getElementById("Blender").value  
          if(blender_level!=0){
            confirm("Please Set The Blender To Power Level 0"); 
            equipment_result = false
          }
      }
      else{
        induction_level = document.getElementById("Induction").value
        if(induction_level!=0){
            confirm("Please Set The Induction To Power Level 0"); 
            equipment_result = false
        }
      }
      var result = false
      if(equipment_result){
        result = confirm("This will end the recording"); 
      }
      if(result){
        stop_recording_pressed = true
        elem.innerText="Start Recording";
        timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
        document.getElementById("Logs").value += timestamp 
        + ", Recording: Ended\n"

        clearInterval(interval);
        $('#capture_btn').prop('disabled', 'disabled');
        $('#comment_button').prop('disabled', 'disabled');
        $('#add_button').prop('disabled', 'disabled');
        $('#action_button').prop('disabled', 'disabled');
        $('#acc_button').prop('disabled', 'disabled');
        $('#induction_button').prop('disabled', 'disabled');
        $('#induction_button_bulk').prop('disabled', 'disabled');
        $('#blender_button').prop('disabled', 'disabled');
        $('#stir').prop('disabled', 'disabled');
        $('#tare').prop('disabled', 'disabled');
        $('#total_time').prop('disabled', 'disabled');
        $('#add_loop').prop('disabled', 'disabled');
        $('#start_loop').prop('disabled', 'disabled');

        $('#Induction').prop('disabled', 'disabled');
        $('#Blender').prop('disabled', 'disabled');
        $('#Comment').prop('disabled', 'disabled');
        $('#Add').prop('disabled', 'disabled');
        $('#Action').prop('disabled', 'disabled');
        $('#Accesories').prop('disabled', 'disabled');
        $('#Logs').prop('disabled', 'disabled');
        // timer.reset()
        send_mqtt(getCookieValue("equipment"),"endRecording","")

        
        data = {
          "uid": parseInt(getCookieValue("uid")),
          "log": document.getElementById("Logs").value
        }

        console.log(data)
        $.ajax({
          type: "POST",
          url: "/logs/",
          data: data,
          async: false,
          success: function (response) {
            console.log("logs send success")
            location.href = "/main/download"
          },
          error: function (response) {
            // alert the error if any error occured
            console.log("failed");
          }
        });
      }
    }
  });
  class Timer {
    constructor () {
      this.isRunning = false;
      this.startTime = 0;
      this.overallTime = 0;
    }

    _getTimeElapsedSinceLastStart () {
      if (!this.startTime) {
        return 0;
      }
    
      return Date.now() - this.startTime;
    }

    start () {
      if (this.isRunning) {
        return console.error('Timer is already running');
      }

      this.isRunning = true;

      this.startTime = Date.now();
    }

    stop () {
      if (!this.isRunning) {
        return console.error('Timer is already stopped');
      }

      this.isRunning = false;

      this.overallTime = this.overallTime + this._getTimeElapsedSinceLastStart();
    }

    reset () {
      this.overallTime = 0;

      if (this.isRunning) {
        this.startTime = Date.now();
        return;
      }

      this.startTime = 0;
    }

    getTime () {
      if (!this.startTime) {
        return 0;
      }

      if (this.isRunning) {
        return this.overallTime + this._getTimeElapsedSinceLastStart();
      }

      return this.overallTime;
    }
  }

  $( "#comment_button" ).click(function(e) {

    if(document.getElementById("Comment").value==""){
      result = confirm("Comment is empty"); 
    }
    else{
      var d = new Date();
      var curr_time = d.getTime();
      timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
      document.getElementById("Logs").value += timestamp 
      + ", Comment: "+ document.getElementById("Comment").value +"\n"
      document.getElementById("Comment").value=""
    }

  });

  $( "#add_button" ).click(function(e) {

    if(document.getElementById("Add").value==""){
      result = confirm("Add is empty"); 
    }
    else{
      var d = new Date();
      var curr_time = d.getTime();
      timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
      document.getElementById("Logs").value += timestamp 
      + ", Add: "+ document.getElementById("Add").value +"\n"
      document.getElementById("Add").value=""
    }
    
    });

  $( "#action_button" ).click(function(e) {

    if(document.getElementById("Action").value==""){
      result = confirm("Action is empty"); 
    }
    else{
      var d = new Date();
      var curr_time = d.getTime();
      timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
      document.getElementById("Logs").value += timestamp 
      + ", Action: "+ document.getElementById("Action").value +"\n"
      document.getElementById("Action").value=""
    }

    });

  $( "#Comment" ).keypress(function(e) {
    if (e.keyCode === 13) {
        $("#comment_button").click();
    }
  });
  
  $( "#Add" ).keypress(function(e) {
    if (e.keyCode === 13) {
        $("#add_button").click();
    }
  });
  
  $( "#Action" ).keypress(function(e) {
    if (e.keyCode === 13) {
        $("#action_button").click();
    }
  });

  $( "#acc_button" ).click(function(e) {
    var elem = document.getElementById("acc_button");

    if(document.getElementById("Accesories").value==""){
      result = confirm("Accesories is empty");   
      // document.getElementById('acc_modal').modal('toggle')
    }
    else{
      var d = new Date();
      var curr_time = d.getTime();
      timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
      document.getElementById("Logs").value += timestamp 
      + ", Accesories: "+ document.getElementById("Accesories").value +"\n"
      acc_set=true
      document.getElementById("Accesories").value=""
    }
  });

  $( "#Accesories" ).keypress(function(e) {
    if (e.keyCode === 13) {
        $("#acc_button").click();
        
    }
  });

  $( "#capture_btn" ).click(function(e) {
    var d = new Date();
    var curr_time = d.getTime();
    timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
    document.getElementById("Logs").value += timestamp 
    + ", Capture: Check data around this\n"
  });

  $( "#stir" ).click(function(e) {
  // Toggle
  var elem = document.getElementById("stir");

  console.log(elem.innerText)
  var d = new Date();
  var curr_time = d.getTime();

  if (elem.innerText=="Stir Start"){
    elem.innerText="Stir Stop";
    timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
    document.getElementById("Logs").value += timestamp 
    + ", Stir: Started\n"
  }
  else{
    elem.innerText="Stir Start";
    timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)
    document.getElementById("Logs").value += timestamp 
    + ", Stir: Stopped\n"
  }  
});

  $( "#tare" ).click(function(e) {
  var d = new Date();
  var curr_time = d.getTime();
  timestamp = Math.round((curr_time - getCookieValue("start_time") )/ 1000)

  document.getElementById("Logs").value += timestamp 
      + ", Tare: Started\n"
  
  send_mqtt(getCookieValue("equipment"),"tare","")
  });
  
  window.onbeforeunload = function() {
    if(!stop_recording_pressed){
      return "Leaving this page will reset the recorder";
    }
  };

  $(document).keydown(function(event) {
      if( event.key === 't' && event.ctrlKey && !document.getElementById("Logs").value=="") {
        console.log('you pressed CTRL + T');
        $( "#tare" ).click()
      }
      
  });

  $(document).keydown(function(event) {
    console.log(event.which)
      if( event.key === 's' && event.ctrlKey && !document.getElementById("Logs").value=="") {
        console.log('you pressed CTRL + S');  
        $( "#stir" ).click()
      }
  });

  $(document).keydown(function(event) {
    console.log(event.which)
      if( event.key === 'd' && event.ctrlKey && !document.getElementById("Logs").value=="") {
        console.log('you pressed CTRL + D');  
        $( "#capture_btn" ).click()
      }
  });

  </script>
</script>
</body>
</html>
