{% extends "base_generic_main.html" %}

{% block content %}
<div >
  <div class="container">  
    <div class="form-row">
      <div class="col-sm-3">
        <form id="contact_form">
          <div class="form-group">
            <label for="exampleFormControlInput1">
              <h1>Recipe Name</h1>
            </label>
            <input type="text" class="form-control disabled" id="0" placeholder="Butter Chicken" readonly>
          </div>

          <div class="form-group">
            <label for="Induction">Induction Level</label>
            <select class="form-control" id="Induction">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">
              Comment
            </label>
            <input type="text" class="form-control" id="Comment">
            <br>
            <button type="button" id="comment_button" class="btn btn-primary btn-block">Comment</button>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">
              Accesories
            </label>
            <input type="text" class="form-control" id="Accesories">
            <br>
            <button type="button" id="acc_button" class="btn btn-primary btn-block">Add Accesories</button>
          </div>
          <button type="button" class="btn btn-primary btn-block" id="capture_btn">Capture Data</button>
          
          <button type="button" class="btn btn-primary btn-block" id="stir">Stir Start</button>
          <button type="button" class="btn btn-primary btn-block" id="tare">Tare</button>

          <button type="button" class="btn btn-danger btn-block" id="recording">Start Recording</button>

        </form>
      </div>
      <div class="col-sm-1">

      </div>
      <div class="col">
        <div class="form-row align-items-start">
          <div class="col" id="IL">
            Induction Level :
          </div>
          <div class="col" id="LCT">
            Last Captured Temp :
          </div>
          <div class="col" id="LCW">
            Last Captured Weight :
          </div>
          <div class="col" id="TLC">
            Time Since Last Capture :
          </div>
        </div>

        <div class="form-row align-items-start">
          <div class="col square" >
              <h2 >
                <div id="IL_Text">Sample Text</div>
              </h2>
          </div>
          <div class="col square" id="LCT_Text">
              <h2>0</h2>
          </div>
          <div class="col square" id="LCW_Text">
              <h2>0</h2>
          </div>
          <div class="col square" >
            <h2 >
              <div id="TLC_Text">Sample Text</div>
            </h2>
          </div>
        </div>
        <hr>
        <br>
        <h2>
          Logs
        </h2>
        <div class="form-group">
          <textarea class="form-control" id="Logs" rows="30"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}