{% extends "base_generic_main.html" %}

{% block content %}
<div class="form-group">
  <label for="Induction">Blender Level</label>
  <select class="form-control" id="Blender">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <button type="button" id="blender_button" class="btn btn-primary btn-block">Set Blender</button>
</div>

<div>
  <h2>
    Loop Mode
  </h2>
</div>
<form id="blender_form">
  <label for="exampleFormControlInput1">
    Total Time : 
  </label>
<input type="text" class="form-control" id="total_time">
<br>
<div id="loop">
</div>
</form>
<button type="button" class="btn btn-primary btn-block" id="add_loop">Add</button>
<button type="button" class="btn btn-primary btn-block" id="start_loop">Start Loop</button>
<br>
{% endblock %}