{% extends "base_generic_main.html" %}

{% block content %}  
    <div class="row">
      <div class="col">
        <label for="Induction">Induction Level Bulk</label>
      </div>
      <div class="col">
        <select class="form-control" id="Induction">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>
      <div class="col">
        <button type="button" id="induction_button_bulk" class="btn btn-primary btn-block">Set Induction</button>
      </div>
    </div>
{% endblock %}