{% extends "base_generic_main.html" %}

{% block content %}
<div >
  <div class="container">  
    <div class="form-row">
      <div class="col-sm-3">
        <form id="contact_form">
          <div class="form-group">
            <label for="exampleFormControlInput1">
              <h1>Recipe Name</h1>
            </label>
            <input type="text" class="form-control" id="" placeholder="Butter Chicken">
          </div>

          <div class="form-group">
            <label for="RecordingSelect">Induction Level</label>
            <select class="form-control" id="">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">
              Comment
            </label>
            <input type="text" class="form-control" id="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">
              Accesories
            </label>
            <input type="text" class="form-control" id="">
          </div>
          <button type="button" class="btn btn-primary btn-block">Capture Data</button>
          <button type="button" class="btn btn-primary btn-block">Start Recording</button>
          <button type="button" class="btn btn-primary btn-block">Stop Recording</button>
          <button type="button" class="btn btn-primary btn-block">Tare</button>
          <button type="button" class="btn btn-primary btn-block">End Recording</button>

        </form>
      </div>
      <div class="col-sm-1">

      </div>
      <div class="col">
        <div class="form-row align-items-start">
          <div class="col" id="IL">
            Induction Level :
          </div>
          <div class="col" id="LCT">
            Last Captured Temp :
          </div>
          <div class="col" id="LCW">
            Last Captured Weight :
          </div>
          <div class="col" id="TLC">
            Time Since Last Capture :
          </div>
        </div>

        <div class="form-row align-items-start">
          <div class="col square">
              <h2>Sample Text</h2>
          </div>
          <div class="col square">
              <h2>Sample Text</h2>
          </div>
          <div class="col square">
              <h2>Sample Text</h2>
          </div>
          <div class="col square">
              <h2>Sample Text</h2>
          </div>
        </div>
        <hr>
        <br>
        <h2>
          Logs
        </h2>
        <div class="form-group">
          <textarea class="form-control" id="Logs" rows="30"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}