.outer {
    background: gray;
    display: block;
    height: 144px;
    margin: auto;
    
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;  
    
    width: 80%;
    
    -webkit-column-count: 3;
    column-count: 3;
  }
  
  .innerdivs {
    border: 1px solid red;
    height: 142px;
    text-align: justify;
    width: 100%;
  }

  .square:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}